.img-container {
    margin: 0;
}

ul {
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    height: 75px;
    padding-bottom: 20px;
    padding-right: 0;
    font-size: 3em;
    text-align: center;
}

header {
color: red;
}

.nav-tabs {
    border: none;
}

button {
    background-color: transparent;
    color: white;
}

.buttonDiv {
    text-align: center;
    margin-bottom: 20px;
}

button:hover {
    transform: scale(1.15);
    color: red;
}