body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../src/assets/images/zombielight.jpg") center no-repeat;
  /* background: url("/assets/images/HnPBackground.jpg"); */
  background-size: cover;
  height: 100vh;
  z-index: -2;
}

#root {
  height: 100vh;
}
